{# <body>
<img src="{{url_for('static', filename='images/pokemain.jpg')}}", width=100%vw> 
</body> #}

{# <section class="bg-dark text-light p-5 text-center">
    <div class="container">
    <div>
    <h1> We
    </div>
    </div>
</section> #}

