<footer class="text-center text-dark sticky-bottom" style="background-color: #ffffff;">
  <!-- Grid container -->
  <div class="container p-4"></div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.0)">
    <p class="lead">&copy; PokéRoyale by DB-CAE89 2022</p>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
