{# 
<footer class="d-flex flex-wrap align-items-center py-3 my-4 border-top">     
    <div class="container justify-content-between">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
    <div class="col"><span class="text-muted">&copy; PokéRoyale by DB-CAE89 2022</span></div>
    <div class="col">Column</div>
    <div class="col">Column</div>
    <div class="col">Column</div>
  </div>
</div>
    </div>
</footer> #}

<footer class="d-flex flex-wrap align-items-center py-3 my-4 border-top"> 
<div class="d-flex justify-content-around">...</div>
    <div class="col">Column</div>
    <div class="col">Column</div>
    <div class="col">Column</div>
    <div class="col">Column</div>      
</footer>