{# ------------ NavMain -------------- #}
    {# <nav class="my-navbar navbar navbar-expand-lg navbar-dark bg-danger">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">PokéRoyale!</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link " aria-current="page" href="{{url_for('index')}}">Home</a>
                    <a class="nav-link" href="{{url_for('pokedex')}}">Pokédex</a>
                    <a class="nav-link" href="{{url_for('login')}}">Login</a>
                    <a class="nav-link" href="{{url_for('register')}}">Register</a>
                </div>
            </div>
        </div>
    </nav> #}
{# ------------ NavMain -------------- #}

<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-warning p-4">
    <h5 class="text-white h4">PokéRoyale!</h5>
    <a class="nav-link" aria-current="page" href="{{url_for('index')}}">Home</a>
    <a class="nav-link" href="{{url_for('pokedex')}}">Pokédex</a>
    <a class="nav-link" href="{{url_for('login')}}">Login</a>
    <a class="nav-link" href="{{url_for('register')}}">Register</a>
  </div>
</div>
<nav class="navbar navbar-dark bg-danger">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>