{% extends 'base.html.j2' %}
{% block title %}
    Main
{% endblock %}

{% block content %}
  <section class="bg-dark text-white p-5 text-center">
    <div class="container">
      <div class="d-flex flex-column">
          <div class="p-4"><h1>Welcome to the <span class="text-warning">PokéRoyale!</span></h1></div>
          <div class="p-4"><p class="lead">Hello there, Trainer! This is the PokéRoyale homepage. Let's get started.</p>
          <p class="lead">First, head on over to the <span class="text-warning">Pokédex</span> to look up Pokémon and start 
          building your team! Once you have your <span class="text-warning">PokéTeam</span> ready, 
          you can battle other Trainers like yourself at the <span class="text-warning">PokéRoyale</span> page. 
          Want to make an update to your profile? You can do that on the <span class="text-warning">Edit Profile</span> 
          page. All from the menu in the top-left corner. </p></div>
          </div> 
        </div>
      </div>
  </section>
  <div class="container align-items-center">
  <img class="img-fluid w-25" src="{{ url_for('static', filename='images/pokemon_PNG98.png') }}">
  </div>
{% endblock %}

