{% extends 'base.html.j2' %}
{% block title %}
    Pokédex
{% endblock %}

{% block content %}
    <div class="container">
      <div class="row justify-content-center">
      <div class="col">
    <h1 class="pokedex"><span class="text-warning">Pokédex</span></h1>
    <form action="{{url_for('main.pokedex')}}", method="POST">
       {{form.hidden_tag()}}
       <div class="pokedex-form">
       {{ form.pokemon_name.label(class="") }}
       {{ form.pokemon_name(class="form-control")}}
       {% for error in form.pokemon_name.errors%}
        <small style="color:red"> {{ error }}</small>
       {% endfor%}
       </div>
       <br />
       <div class="pokedex-form-btn">
       {{ form.submit(class="btn btn-danger form-control") }}
       </div>
    </form>
    </div>
    {% if pokemon %}
  <div class="col">
    <div class="card border-warning  text-white bg-danger mb-3 justify-content-center" style="max-width: 18rem;">
    <img src={{ pokemon.shiny }} class="card-img-top" alt="Pic of Pokemon">
      <div class="card-body">
        <h5 class="card-title">{{ pokemon.name }}</h5>
      </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Base Exp: {{ pokemon.bexp }}</li>
      <li class="list-group-item">Ability: {{ pokemon.ability }}</li>
      <li class="list-group-item">Health Points: {{ pokemon.hp }}</li>
      <li class="list-group-item">Attack: {{ pokemon.attack }}</li>
      <li class="list-group-item">Defense: {{ pokemon.defense }}</li>
    </ul>
  <div class="card-body text-center">
    <a href="{{ url_for('main.catch', id = pokemon_id) }}" class="card-link">
        {% if is_caught %}
      <div class="pokedex-form-btn">
        <button class="btn btn-warning"><img src="{{ url_for('static', filename='images/icons8-open-pokeball-48.png') }}" height="35px">Release</button>
      </div>
        {% else %}
      <div class="pokedex-form-btn">
        <button class="btn btn-success"><img src="{{ url_for('static', filename='images/icons8-pokeball-48.png') }}" height="30px">&nbsp; Capture</button>
      </div>
        {% endif %}
    </a>
  </div>
</div>
</div>       
{% endif %}

{% endblock %}
