{% extends 'base.html.j2' %}
{% block title %}
    PokéTeam
{% endblock %}

{% block content %}

  <h1>Here is your <span class="text-warning">PokéTeam!</span></h1>

  {% for poke in team %}
  <div class="card-group justify-content-center">
    <div class="card text-warning bg-danger mb-3" style="max-width: 18rem;">
      <img src="{{ poke.shiny }}"  class="card-img-top" alt="Picture of Pokemon" >
      <div class="card-body">
        <h5 class="card-title">{{ poke.name }}</h5>
          <p>
            <button class="btn btn-info" type="button" data-bs-toggle="collapse" data-bs-target=".multi-collapse" aria-expanded="false" aria-controls="multiCollapseExample1 multiCollapseExample2">Stats</button>
            <a class="btn btn-warning m-3" data-bs-toggle="collapse" href="#" role="button" aria-expanded="false" aria-controls="multiCollapseExample1"><img src="{{ url_for('static', filename='images/icons8-open-pokeball-48.png') }}" height="30px">&nbsp; Release</a>
          </p>
          {# <div class="row">
            <div class="col">
              <div class="collapse multi-collapse" id="multiCollapseExample1">
                <div class="card card-body">
                  Some placeholder content for the first collapse component of this multi-collapse example. This panel is hidden by default but revealed when the user activates the relevant trigger.
                </div>
              </div>
            </div> #}
            <div class="row">
              <div class="col">
                <div class="collapse multi-collapse" id="poke_stats">
                  <ul class="list-group list-group-flush">
                    <div class="card card-body">
                      <li class="list-group-item">Base Exp: {{ poke.bexp }}</li>
                      <li class="list-group-item">Ability: {{ poke.ability }}</li>
                      <li class="list-group-item">Health Points: {{ poke.hp }}</li>
                      <li class="list-group-item">Attack: {{ poke.attack }}</li>
                      <li class="list-group-item">Defense: {{ poke.defense }}</li>
                  </ul>
                    </div>
                </div>
            </div>
          </div>
      </div>
    </div>

  {% endfor %}

{% endblock %}

 {# <a href="{{ url_for('main.catch', id = pokemon_id) }}" class="card-link">
        {% if is_caught %}
      <div class="pokedex-form-btn">
      <a href="{{ url_for('main.release', id = pokemon_id) }}" class="card-link">
        <button class="btn btn-warning"><img src="{{ url_for('static', filename='images/icons8-open-pokeball-48.png') }}" height="30px">&nbsp; Release</button>
        </a> #}