{% extends 'base.html.j2' %}
{% block title %}
    Pokédex
{% endblock %}

{% block content %}

    <h1 class="pokedex">Pokédex</h1>
    <form action="{{url_for('main.pokedex')}}", method="POST">
       {{form.hidden_tag()}}
       <div class="pokedex-form">
       {{ form.pokemon_name.label(class="form-label") }}
       {{ form.pokemon_name(class="form-control")}}
       {% for error in form.pokemon_name.errors%}
        <small style="color:red"> {{ error }}</small>
       {% endfor%}
       </div>
       <br />
       <div class="pokedex-form-btn">
       {{ form.submit(class="btn btn-danger") }}
       <hr />
       </div>
    </form>
    {% if pokemon %}
    <table class="table table-striped table-hover table-danger">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Base Experience</th>
      <th scope="col">Image</th>
      <th scope="col">Ability</th>
      <th scope="col">HP</th>
      <th scope="col">Attack</th>
      <th scope="col">Defense</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{ pokemon.name }}</th>
      <td>{{ pokemon.bexp }}</td>
      <td><img src= {{ pokemon.shiny }}></td>
      <td>{{ pokemon.ability }}</td>
      <td>{{ pokemon.hp }}</td>
      <td>{{ pokemon.attack }}</td>
      <td>{{ pokemon.defense }}</td>
    </tr> 
  </tbody>
</table>
<div class="pokedex-form-btn">
       {{ form.capture(class="btn btn-warning form-control") }}
       </div>
{% endif %}

{% endblock %}
